<div class="relative w-full h-full flex overflow-hidden">
  <nav
    class="bg-slate-900 w-full {{
      active ? 'max-w-xs' : 'max-w-0'
    }} h-full absolute top-0 left-0 z-50 overflow-hidden transition-all duration-300 md:relative md:!max-w-xs"
  >
    <div class="flex justify-between items-center w-full px-3 py-2 md:hidden">
      <h5 class="text-slate-50 text-xl">Navegación</h5>
      <button
        type="button"
        (click)="toggleActive()"
        class="text-3xl outline-none flex justify-center items-center p-1 rounded-full bg-slate-800 text-nowrap text-slate-50"
      >
        @if (active) {
        <ng-icon name="featherX" />
        } @else {
        <ng-icon name="featherMenu" />
        }
      </button>
    </div>
    <div class="flex flex-col justify-between h-full">
      <ul>
        @for (item of routes; track $index) {
        <li>
          <a
            [routerLink]="item.url"
            [routerLinkActive]="'!bg-slate-800 border-r-4 border-r-blue-400'"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center gap-3 text-slate-50 px-3 py-5 cursor-default transition-colors duration-300 hover:bg-slate-800 hover:bg-opacity-50"
            (click)="toggleActive()"
          >
            <ng-icon [svg]="item.icon" /> {{ item.label }}
          </a>
        </li>
        }
      </ul>
      <a
        class="flex items-center gap-3 text-slate-50 px-3 py-5 cursor-default transition-colors duration-300 hover:bg-slate-800"
        (click)="logOut()"
      >
        <ng-icon name="featherLogOut" /> Cerrar sesión
      </a>
    </div>
  </nav>
  <div class="w-full h-full">
    <nav class="flex justify-between items-center px-3 py-2 h-16 bg-slate-900">
      <button
        type="button"
        (click)="toggleActive()"
        class="flex items-center justify-center text-3xl outline-none text-slate-50 bg-slate-900 px-3 py-1 rounded-xl md:hidden"
      >
        @if (active) {
        <ng-icon name="featherX" />
        } @else {
        <ng-icon name="featherMenu" />
        }
      </button>

      <div class="flex justify-end w-full items-center gap-3">
        @if (user) {
        <img
          [src]="getAvatarUrl()"
          [alt]="user.email"
          class="rounded-full w-12"
        />

        <div>
          <p class="text-slate-50">{{ user.firstName }} {{ user.lastName }}</p>
          <p class="text-slate-400 text-xs">{{ user.email }}</p>
        </div>
        }
      </div>
    </nav>

    <!-- children -->
    <div class="w-full h-full bg-slate-950 overflow-y-auto">
      <ng-content />
    </div>
  </div>
</div>
