<div class="wrapper">
  <div class="relative overflow-x-auto shadow-md rounded-lg">
    <app-table [columns]="cols">
      @for (user of usersResults | async; track $index) {
      <tr data-row>
        <td>{{ $index + 1 }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ getPermString(user.permissionsLevel) }}</td>
        @if (user.permissionsLevel === 2) {
        <td>Opciones</td>
        }
      </tr>
      }
    </app-table>
  </div>
</div>
