<div class="bg-slate-950 w-full h-full flex justify-center items-center">
  <form
    [formGroup]="loginForm"
    class="bg-slate-700 w-full max-w-80 rounded-3xl p-3"
  >
    <legend class="uppercase text-slate-50 text-2xl text-center mb-4">
      Iniciar sesión
    </legend>

    @if (errorMessage) {
    <p class="px-2 py-3 rounded-xl bg-red-200 border-2 border-red-600 mb-4">
      {{ errorMessage }}
    </p>
    }

    <fieldset class="flex flex-col gap-3 mb-5">
      <label class="text-slate-50 flex flex-col gap-1">
        E-mail:
        <input
          type="email"
          formControlName="email"
          class="px-2 py-1 rounded-lg bg-slate-800 outline-none text-slate-50 border-2 border-slate-800 transition-colors duration-300 hover:border-blue-200 focus:border-blue-400 disabled:cursor-not-allowed disabled:text-slate-400"
          required
        />
      </label>
      <label class="text-slate-50 flex flex-col gap-1">
        Contraseña:
        <input
          type="password"
          formControlName="password"
          class="px-2 py-1 rounded-lg bg-slate-800 outline-none text-slate-50 border-2 border-slate-800 transition-colors duration-300 hover:border-blue-200 focus:border-blue-400 disabled:cursor-not-allowed disabled:text-slate-400"
          required
        />
      </label>
    </fieldset>
    <button
      type="submit"
      class="px-3 py-2 rounded-lg bg-blue-300 w-full transition-colors duration-300 hover:bg-blue-400 disabled:bg-gray-300"
      [disabled]="disabled"
    >
      Aceptar
    </button>
  </form>
</div>
